
		#captchaImg {
			margin: 3px auto -7px;
		}
		
		#successMessage {
			border: 1px solid #85C04D;
			background: url('../img/success_check.png') no-repeat scroll 7px 50%;
			background-color: #C7FFC7;
			background-size: 15px 15px;
			color: black;
			padding: 4px 30px;
			font-size: 12px;
			margin-bottom: 12px;
			border-radius: 4px;
			text-shadow: 1px 1px 0px #FDE6E4;
			
		}
		.errorText {
			color: black;
			font-size: 12px;
			margin-left: 150px;
			margin-top: 4px;
			margin-bottom: 12px;
			padding: 3px 29px;
			max-width: 208px;
			background: url('../img/error.gif') no-repeat scroll 7px 50% / 15px 15px rgba(248, 198, 198, 1);
			border: 1px solid rgba(233, 132, 132, 1);
			border-radius: 4px;
			text-shadow: 1px 1px 0px #FDE6E4;
		}
		.errorAst {
			color: red;
			float: left;
			position: absolute;
			margin-left: -11px;
		}
		#genCaptcha {
			margin-top: 10px;
		}
		.desc {
			color:black;
			line-height: 23px;
			font-size: 15px;
			box-shadow: 0px 0px 3px rgba(0, 156, 255, 0.44);
			padding: 9px;
		}
		.field {
			display: inline-block;
			width: 100%;
		}
		.res {
			width: 260px;
		}
		
		input[type="checkbox"], input[type="radio"]{		
			margin-top: 12px;
			margin-right: 5px;
		}
		
		.fileUploadDesc {
			font-size: 11px;
			font-style: italic;
			margin-left: 150px;
		}
		
		@media only screen and (min-width: 0px) and (max-width: 800px) {
			.res {
				width: 100%;
			}
			
			.fileUploadDesc {
				font-size: 11px;
				font-style: italic;
				margin-left: 0px !important;
			}
			
			#contactForm {
			 	width: 98% !important;
				max-width: none !important;
			}
			
			.errorText {
				margin-left: 0px !important;
			}
		}
	