

@font-face {
    font-family: 'berkeleyregular';
    src: url('/assets/fonts/berkeley-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/berkeley-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'copperplateregular';
    src: url('/assets/fonts/ufonts.com_copperplate-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/ufonts.com_copperplate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

