/* contact form */
.contactformwrap{
	@include   outer-container(70%);
}
.contactform {

	h1{
		padding: 10px 20px 0 20px;
		margin-bottom: 30px;
	}
	p{
		padding: 0 20px 50px 20px;
	}
	img {
		max-width: 200px;
	}

}

.close-btn:hover {cursor:pointer; }

.getintough{
	@include   span-columns(4 of 12);
	padding: 10px;
	margin: 20px 0 10px 0;
	h2{
		font-size: 1.8rem;
	}
	p{
		margin: 5px;
	}
}

hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -15px;
	padding-right: 25px;
	padding-right: 25px;
	background: #fff;
	color: #222b58;
	font-size: 3.0rem;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.inputareas{
	@include              display(flex);
  @include              flex-direction(row);
}

.contactleft{
	padding: 10px;
	width: 100%;
}
.contactright{
	padding: 10px;
	width: 100%;
}



input,
textarea {

	width: 100px;
	border  : none;
}



input {
		width         : 100%;
		height        : 50px;
		border: solid 2px #ccc;
		padding:10px;
}

textarea {
		width         : 100%;
		height		  : 200px;
		padding       : 15px 10px 10px 10px;
		border     : solid #ccc 2px;
		padding:10px;
}


.submitbtn input {
background: #222b58;
color:#fff;
padding:10px;
font-size:1.2em;
}

.submitbtn input:hover {
cursor: pointer;
}
