.overimage {position:absolute;  z-index: 1;
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */ }

figure.effect-layla {
    background: #fff;
    width: 100%;
    margin: -4px;
    padding: 0;
    position: relative;
    cursor: pointer;
}

figure.effect-layla button {
    position: absolute;
    border:none;
    background: rgba(34, 43, 88, 1);
    color:#fff;
    padding: 2% 4%;
    top: 80%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}



figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
{
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
