

}

.wholeheroimagelowtitle{
	position: relative;
}

	
.wholeheroimagelowtitle .ie9 {
		position: absolute;
		top:45%;
		left: 50%;
		margin-left: -200px;
		text-align: center;
		display: block;
}

  aside .ie9 img[src$=".svg"] {
    width: 100%; 
  }
  
  	#animatedModal > .card > .back {
		display: none;
		background: pink;
	}
	
	.summary {
		margin-top: -110px;
		display: table-cell;
		float: right;
		width: auto;
 	}
 	
 	/*  contact form */
 	.contactform h1{
	 	margin-top: 80px;
	 	
 	}
 	.contactform {
	 	width: 70%;
	 	margin: 10px auto;
 	}
 	label {
	 	min-width: 100px;
	 	margin-right: 80px;
	 	margin-left: 0px;
 	}
 
 	
 	/* cocoan  */
 	.cocoen__drag:before{
		border: none;
	}
 	
 	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}
	
	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	.col:first-child { margin-left: 0; }
	
	/*  GROUPING  */
	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }
	/*  GRID OF THREE  */
	.span_3_of_3 { width: 100%; }
	.span_2_of_3 { width: 66.13%; }
	.span_1_of_3 { width: 32.26%; }
	
	/*  GO FULL WIDTH BELOW 480 PIXELS */
	@media only screen and (max-width: 480px) {
		.col {  margin: 1% 0 1% 0%; }
		.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	}
 	
 
 
 
/* ------------- Media queries 1600px -------------- */
@media screen and (max-width : 1600px) {
		
		.wholeheroimagelowtitle .ie9 {
			margin-left: -240px;
	}


}

/* ------------- Media queries 1366px -------------- */
@media screen and (max-width : 1366px) {
		
	.wholeheroimagelowtitle .ie9 {
		margin-left: -270px;
	
	}

}

/* ------------- Media queries 1090px -------------- */
@media screen and (max-width : 1090px) {
		
	.wholeheroimagelowtitle .ie9 {
		margin-left: 0px;
		top: 30%;
		left: 0px;
		width: 100%;
	
	}
	.wholeheroimagelowtitle .logomobileimage{
	    display : inline-block;
	}

}