.green {
    background: green;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.white {
    background: white;
    height: 1300px;
}

.homepage .white {
    background: white;
    height: 0px;
}


////////translator
.goog-logo-link {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}
div.goog-te-gadget {
  color: transparent !important;
}
.showtrans{
	z-index: 100;
	
}
.mobilerevealnow{
	display: inline;
}


/////////////Service page
h1.positiontext{position: absolute; top: 35%; width: 97.8%; text-align: center; font-family: copperplate; padding:3px 0; background: #222b58;; color: white;}
p.positiontext{ position: absolute; top: 35%; padding: 30px; text-align: center; letter-spacing: 1px; line-height: 25px;}

.overflowfix {position:relative;overflow:hidden;line-height:0;margin:0;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}
.overflowfix > img {width:100%;display:block;}


	.photo-grid img {
	height: auto;
	max-width: 100%;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
	}
	.photo-grid service_hover {
	border: 5px solid white;
	display: inline-block;
	margin: 1em;
	width: auto;
	}
	.photo-grid .figure {
	height: auto;
	padding: 5px;
	overflow: hidden;
	position: relative;
	width: auto;
	}
	.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: #fff;
	height: 100%;
	opacity: 0;
	position: absolute;
	top:0%;
	z-index: 10;
	}
	
	.photo-grid .service_hover:hover figcaption {
	opacity: 1;
	}
	.photo-grid img {
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
	}
	.photo-grid .service_hover:hover img {
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		transform: scale(1.4);
	}
	.photo-grid figcaption p {
	font-size: 1.5em;
	position: relative;
	top: 150px;	
	width: 100%;
	padding:0;
	text-align: center;
	background: none;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	}

	.photo-grid .service_hover:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
	}
	
	.photo-grid .service_hover h1 {
	
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .photo-grid .service_hover:hover h1 {
      opacity: 0;
      }
		
	.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	padding:0 25px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 10;
	}


/////End Service Page
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}

body {
    font-size: 2rem;
    font-family: 'berkeleyregular';
    -webkit-overflow-scrolling: touch;
}

img,
h1,
h2,
p,
a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.homepagetitleposition{  
 position: absolute;
  top: 0;
  bottom: 0;
  left:0; 
  right:0;
  margin: auto;
  width:50%;
  height: 30%;}


h1.portfolio-testomonial {
    position: absolute;
    padding-left: 28.23%;
    font-size: 3rem;
    top: 180px;
    font-family: copperplate;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.4);
}

p {
    position: absolute;
    padding: 2rem 18.23% 2rem 28.23%;
    font-size: 1.5rem;
    top: 270px;
    line-height: 2rem;
    background: rgba(255, 255, 255, 0.4);
}

.text-right {
    text-align: right;
}

.image-spacing {
    margin-top: 10px;
}

button.historybutton {
    background: rgba(34, 43, 88, 0.7);
    white-space: nowrap;
    border: solid thin #fff;
    color: #fff;
    margin-top: 5rem;
    padding: 20px 80px;
    font-size: 1.4rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.homepage h1 {
    padding: 0 10px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-family: copperplate;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.homepage h2 {
    padding: 0 10px;
    line-height: 2px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 35px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.placeholder {
    width: 100%;
}


.menubar {
    height: 150px;
    width: 100%;
    background: #222b58;
    z-index: -10;
}

.mobilereveal,
.mobilerevealit,
.mobilealt,
.mobileheaderhide {
    display: none;
}

.semantic-content {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

.nav label {
    margin-right: 60px;
    display: block;
    padding: .85rem;
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 -1px #ccc;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    text-align: left;
    font-family: 'berkeleyregular';
}

.mobileslidertitle {
    display: none;
}

.nav a:focus,
.nav a:hover,
.nav label:focus,
.nav label:hover {
    color: #000;
    background: #fff;
}

.nav a {
    display: inline-block;
    width: 100%;
}

.nav label {
    cursor: pointer;
}

nav {
    margin-bottom: 50px;
    margin-top: 50px;
}


/**
 * Styling first level lists items
 */

.group-list a,
.group-list label {
    padding-left: 0.1rem;
    background: #fff;
    color: #000;
}


/**
 * Styling second level list items
 */

.group-list,
.sub-group-list,
.sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul {
    max-height: 1000px;
}


/**
 * Rotating chevron icon
 */

label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
}

label > span:before {
    content: "+";
}

.nav__list input[type=checkbox]:checked + label > span:before,
.nav__list input[type=checkbox]:checked + label > span:after {
    content: "-";
}

.white-side {
    background: #fff;
}

.side {
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-color {
    background: #fff;
    overflow-y: auto;
}

.text-center {
    text-align: center;
}

.fixed-object {
    top: 0;
    position: fixed;
    z-index: 100;
}

address {
    margin: 0 0 30px 40px;
    color: #222b58;
    text-align: justify;
}

.telephone-number {
    font-size: 1.3rem;
    font-family: 'copperplateregular';
    color: #222b58;
    float: left;
    margin-left: 40px;
}

.berkeley-sidebar {
    font-family: 'berkeleyregular';
    color: #222b58;
    float: left;
    margin-left: 12px;
}

.email {
    font-size: 1.5rem;
    margin: 10px 0 0 40px;
}

.menulogo img {
    width: 70%;
    margin: 1.0rem 0 0 0;
}

.emailbutton {
    padding: 20px 80px;
    margin: 20px 0 40px 40px;
    font-size: 1.4rem;
    float: left;
    background: transparent;
    border: thin solid #222b58;
    color: #222b58;
}

.background-image {
    background: blue;
    color: black;
    background: url(../img/background.jpg) fixed right;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slidertitle {
    font-size: 3rem;
    font-family: copperplate;
    color: #fff;
    margin: 0;
}

.sliderdescription {
    font-size: 1rem;
    font-family: raleway;
    color: #fff;
}

.side-two {
    width: 20.052083333333334%;
    float: left;
}

.side_nav {
    width: 20.885416666666667%; /* 401 / 1920 */
    float: left;
}

.lay-two {
    width: 39.97395833333333%;
    float: left;
    margin: 0;
    padding: 0;
}

.lay-three{
	width: 26.35416666666667%; /* 506 / 1920 */
	float:left;
	margin: 0px;
	padding: 0px;
}

.portfolio-image-fade {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
    filter: alpha(opacity=60); // IE 5-7
    opacity: 0.6;
}

.title-position {
    position: absolute;
    z-index: 10;
    left: 74.273%;
    top: 80%;
    width: 400px;
    background: rgba(34, 43, 88, 0.7);
    padding: 20px 80px 20px 20px;
    margin: 0px;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.semantic-content,
.semantic-content .open-modal {
    background: rgba(0, 0, 0, 0.8);
}

.imagefit {
    height: 100%;
    width: auto;
}

.mheader {
    margin-bottom: 10px;
}

.mspacert {
    margin-left: 20px;
}

.mspacert2 {
    margin-left: -40px;
}

.mnav label {
    margin-right: 60px;
    display: block;
    padding: 1rem;
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 -1px #ccc;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    text-align: left;
    font-family: 'berkeleyregular';
    text-align: center;
}

.mnav a {
    color: #000;
    display: block;
    text-align: center;
}

.mnav a:focus,
.mnav a:hover,
.mnav label:focus,
.mnav label:hover {
    background: #fff;
}

.mnav label {
    cursor: pointer;
}

.mnav {
    margin-bottom: 20px;
    margin-top: 20px;
}


/**
 * Styling first level lists items
 */

.mgroup-list label {
    padding-right: 3rem;
    background: #fff;
    box-shadow: inset 0 -1px #ccc;
    text-align: left;
}


/**
 * Styling second level list items
 */

.mgroup-list,
.msub-group-list,
.msub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}

.mnav__list input[type=checkbox]:checked + label + ul {
    max-height: 1000px;
}


/**
 * Rotating chevron icon
 */

label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
}

label > span:before {
    content: "+";
}

.mnav__list input[type=checkbox]:checked + label > span:before,
.mnav__list input[type=checkbox]:checked + label > span:after {
    content: "-";
}

.modalnavtext {
    font-size: 2em;
    margin-top: 20px;
    position: relative;
    max-height: 600px;
    max-height: 80vh;
    -webkit-overflow-scrolling: touch;
}

.modaltext {
    font-size: 2em;
    margin-top: 20px;
    position: relative;
    left: -50px;
    max-height: 600px;
    max-height: 80vh;
    -webkit-overflow-scrolling: touch;
}

.mcontact {
    margin: 20px 40px 0 40px;
    text-align: right;
    display: block;
}

.mcontact a {
    color: #222b58;
}

.msocialbtn {
    text-align: center;
    margin-right: 30px;
    padding: 10px;
}

.msocialbtn > img {
    width: 50px;
    height: 50px;
}

.modaltext > .msocialbtn {
    margin-left: 100px;
}

.contactform {
    padding: 10px;
    height: 100%;
    display: block;
    overflow: auto;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
}

.contactform input {
    display: block;
    width: 85%;
    margin: 1rem;
}

.contactform textarea {
    width: 85%;
    display: block;
    margin: 1rem;
}

.contactform button {
    width: 94%;
    display: block;
    margin: 1rem;
    background: #222b58;
    text-align: center;
}

.big-input,
.big-textarea,
.big-select select {
    padding: 18px 25px;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 14px !important;
}

.big-input:focus,
.big-select:focus {
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
}

.big-label {
    font-size: 14px;
    letter-spacing: 2px;
}

.medium-input,
.medium-textarea,
.medium-select select {
    padding: 12px 25px;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 14px !important;
}

.medium-input:focus,
.medium-select:focus {
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
}

.small-input,
.small-textarea {
    padding: 12px 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 11px !important;
}

.small-input:focus,
.small-select:focus {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.small-select select {
    padding: 15px 15px;
}

.medium-input-light,
.medium-textarea-light,
.medium-select-light select {
    padding: 12px 25px;
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    font-size: 12px !important;
    background: rgba(255, 255, 255, 0.1) !important;
}

.medium-input-light:focus,
.medium-select-light:focus {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
}

.select-style {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0 20px;
    background: #fff url("../images/select-arrow.png") no-repeat 97% 50%;
}

.select-style select {
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #999999;
    border-radius: 0;
}

.select-style select:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.input-round {
    border-radius: 4px !important;
}

input.no-border,
input.no-border:focus,
select.no-border,
select.no-border:focus,
textarea.no-border,
textarea.no-border:focus {
    border: none;
}

.required {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.required-error {
    border: 2px solid #cc0000 !important;
}

#success {
    clear: both;
    margin: 0 15px 20px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #6dc13a;
    color: #1a940a;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    display: none;
}

#success-contact {
    clear: both;
    margin: 0 15px 20px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #6dc13a;
    color: #1a940a;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    display: none;
}

.close {
    content: '\00d7';
    color: red;
    font-size: 5rem;
    float: left;
    margin-top: -35px;
}

.highlight-button-dark {
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}

.hamburger {
    position: absolute;
    display: block;
    width: 1.25em;
    height: 0.6em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    z-index: 100;
    top: 30px;
    left: 40px;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
    z-index: 100;
}

/**
 * Footer
 */
footer {
	background: #222B58;
	text-align: right;
		img{ width: 50px; height: 50px; padding:20px 0; }
		img:last-child{ padding-right:20px;}
}

.footerclear {clear:both;}


////////////////////////////////////////////////////////// 1612
@media (max-width: 1612px) {
    address {
        margin: 0 0 30px 10px;
    }
    .telephone-number {
        font-size: 1.0rem;
        margin-left: 10px;
    }
    .berkeley-sidebar {
        font-family: 'berkeleyregular';
        color: #222b58;
        float: left;
        margin-left: 12px;
    }
    .email {
        font-size: 1.0rem;
        margin: 10px 0 0 10px;
    }
    .emailbutton{
    	margin: 20px 0 40px 10px;
   
    }
    .menulogo img {
        width: 70%;
        margin-top: 20px;
    }

    
    .title-position {
        left: 70%;
        top: 80%;
    }

    


	/////Client page
	
	h1.portfolio-testomonial {
	    font-size: 2rem;
	    top:110px;
	  
	}
	
	p{
	    font-size: 1.2rem;
	    top:190px; 
	    
	    
	}
	/////////////Service page
	h1.positiontext{position: absolute; top: 5%; width: 80%; text-align: center; background: #222b58; font-family: copperplate; padding:10px 0; font-size: 2rem; }
	p.positiontext{ position: absolute; top: 10%; padding: 30px; text-align: center; letter-spacing: 1px; line-height: 25px; font-size: 1.5rem; }

	.photo-grid figcaption p {
		top:25%;
	}

}

////////////////////////////////////////////////////////// 1570

@media (max-width: 1570px) {
    .slidertitle {
        font-size: 2.5rem;
    }
    .sliderdescription {
        font-size: 1rem;
    }

}

////////////////////////////////////////////////////////// 1400

@media (max-width: 1400px) {
    .title-position {
        left: 68%;
        top: 73%;
    }
}

////////////////////////////////////////////////////////// 1365
@media (max-width: 1365px) {
    .fixed-object {
        top: 0;
        position: none;
        z-index: 100;
    }
	
    .homepage h1 {
        font-size: 3.5rem;

    }
    .homepage h2 {
        font-size: 1.5rem;
    }
    button.historybutton{
	    margin-top: 2rem;
    }
    address,
    .slogan-mobile,
    .telephone-number,
    .email,
    .emailbutton,
    .nav {
        display: none;
    }
    .pushimagedown {
        margin-top: 100px;
        overflow: hidden;
    }
    .side {
        overflow-y: hidden;
        width: 100%;
        left: 0;
        right: 0;
        height: 105px;
        margin: 0 0 0 0;
        background: #182b58;
    }
    .mobilereveal {
        display: block;
        z-index: 100;
    }
    .mobilerevealit {
        display: block;
        width: 250px;
        margin-top: 20px;
        position: absolute;
        left: 40%;
        z-index: 10;
    }
    .mobilehideit {
        display: none;
    }
    .menulogo img {
        width: 20%;
        margin: 8px 0 0 0;
    }
    .title-position {
        left: 63%;
        top: 75%;
    }
    .background-image {
        background: blue;
        color: black;
        background: url(../img/background.jpg) fixed right;
        height: 100vh;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


	/////Service Page
	.lay-three{
		width: 33.33333333333333%; /* 455 / 1365 */
	}
	
	.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	height: 100%;
	opacity: 1;
	position: absolute;
	top:0%;
	z-index: 10;
	background: none;
	color: black
	}
	.photo-grid figcaption p {
	font-size: 1.5em;
	position: relative;
	top: 170px;	
	background: rgba(255, 255, 255, 0.8);
	}
	.photo-grid .service_hover:hover h1 {
     opacity: 1;
     }
	/////Client page
	    
	  .lay-two {
	    width: 50%; 
	}  
	
	}




////////////////////////////////////////////////////////// 1138
@media (max-width: 1138px) {
    .title-position {
        left: 60%;
        top: 74%;
    }
	/////Service Page
	
	h1.positiontext{font-size: 1.50rem; }
	
	
	
	}



////////////////////////////////////////////////////////// 1015
@media (max-width: 1015px) {
    .title-position {
        left: 55%;
        top: 72%;
    }
    
  
	
	/////Client page
	h1.portfolio-testomonial {
	    font-size: 2rem;
	    top:60px;
	  
	}
	
	p{
		font-size: 1.2rem;
	    top:150px; 
	    
	}		
	.photo-grid figcaption p {
		top:40%;
	}

}


////////////////////////////////////////////////////////// 900
@media (max-width: 900px) {
  
    
       
		    /////Client page
		    
		  .lay-two {
		    width: 100%; 
		} 

		h1.portfolio-testomonial {
	    position:absolute;
	    padding-left:28.23%;
	    font-size: 3rem;
	    top:180px;
	  
		}
		
		p{
		    position:absolute;
		    padding:2rem 18.23% 2rem 28.23% ;
		    font-size: 1.5rem;
		    top:290px; 
		    
		    
		}

////service page
	
}



////////////////////////////////////////////////////////// 800
@media (max-width: 800px) {
    .background-image {
        background: blue;
        color: black;
        background: url(../img/background.jpg) fixed right bottom;
        background-position: 750px 0px;
        height: 100vh;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .cocoen {
        display: none;
    }
    .mobileheaderhide {
        display: block;
        width: 100%;
    }
    .mobileslidertitle {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 10;
        top: 80%;
        width: 400px;
        background: rgba(34, 43, 88, 0.7);
        padding: 20px 80px 20px 20px;
        line-height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .mobilerevealit {
        display: block;
        width: 220px;
        margin: auto;
        margin-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
    .modal-inner {
        padding-top: 0;
    }
    /////Service Page
    .hide{
	    display: none;
    }
	.lay-three{
	width: 50%; 
	}
	
	///homepage
	
    
}



////////////////////////////////////////////////////////// 700
@media (max-width: 700px) {
	
	////Home page
	.mobilehidenow{
		display: none;
	}

    .contactform .mnav__list {
        padding: 0px;
        margin: 0px;
    }
    .contactform textarea {
        width: 85%;
    }
    .contactform input {
        width: 85%;
    }
    .contactform button {
        width: 95%;
    }
    .modal--fade .modal-inner,
    .semantic-content .modal-inner,
    .modal--show .modal-inner {
        padding-top: 0px;
    }
    
	

}

////////////////////////////////////////////////////////// 600
@media (max-width: 600px) {
    .mnav__list {
        padding: 0px;
        margin: 0px 20px 0 40px;
    }
    .pushimagedown {
        margin-top: 70px;
        overflow: hidden;
    }
    .mobilerevealit {
        display: block;
        width: 160px;
        margin: auto;
        margin-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
    .side {
        overflow-y: hidden;
        width: 100%;
        left: 0;
        height: 75px;
        margin: 0 0 0 0;
        background: #182b58;
    }
    .contact {
        margin-right: 60px;
        padding: 0;
    }
    .contactform {
        padding: 10px;
    }
    .contactform textarea {
        width: 82%;
    }
    .contactform input {
        width: 82%;
    }
    .contactform button {
        width: 95%;
    }
    
	
	/////////Client detail
	h1.portfolio-testomonial {
		position:absolute;
		padding-left:28.23%;
		font-size: 3rem;
		top:80px;
	}
	p.portfolio_text{
		top: 30%;
	}
}

////////////////////////////////////////////////////////// 500
@media (max-width: 500px) {
    .mobilerevealit {
        width: 150px;
    }
    
    
	    /////Service Page
	.lay-three{
	width: 100%; 
	}
	/////////Client detail
	h1.portfolio-testomonial {
		position:absolute;
		padding-left:20%;
		font-size: 2rem;
		top:80px;
	}
	p.portfolio_text{
		top: 30%;
		font-size: 1.30rem;
		line-height: 25px;
	}
	
}

////////////////////////////////////////////////////////// 480
@media (max-width: 480px) {
    .mcontact {
        padding-right: 50px;
    }
    .contactform textarea {
        width: 70%;
    }
    .contactform input {
        width: 70%;
    }
    .contactform button {
        width: 85%;
    }
    
    .homepage h1 {
    font-size: 1.5rem;
	}

	.homepage h2 {
    font-size: 1.0rem;
    line-height: 20px;
	}
	/////////Client detail
	h1.portfolio-testomonial {
		position:absolute;
		padding-left:27%;
		font-size: 2rem;
		top:40px;
	}
	p.portfolio_text{
		top: 20%;
		font-size: 1.30rem;
		line-height: 20px;
	}

}

@media (max-width: 380px) {
	/////////Client detail
	h1.portfolio-testomonial {
		position:absolute;
		padding-left:27%;
		font-size: 1.30rem;
		top:20px;
	}
	p.portfolio_text{
		top: 10%;
		font-size: 1rem;
		line-height: 20px;
	}
	
}

////////////////////////////////////////////////////////// 290
@media (max-width: 290px) {
    .mcontact {
        display: block;
    }
    .semantic-content {
        font-size: 0.75rem;
    }
    .contactform {
        padding-right: 10px;
    }
    .contactform textarea {
        width: 70%;
    }
    .contactform input {
        width: 70%;
    }
    .contactform button {
        width: 100%;
    }
    .modaltext {
        font-size: 2em;
        margin-top: 20px;
        position: relative;
        left: -60px;
        max-height: 400px;
        max-height: 60vh;
        -webkit-overflow-scrolling: touch;
    }


}




